
.via{text-align:center;height:5.28rem;}
.via .img2{width:2.173333rem;height:163px;margin:2.12rem auto 0;}
.users{font-size:0.4rem;}
.myorder{height:1.106667rem;width:8.946667rem;font-size:0.533333rem;margin-left:0.453333rem;border-bottom:1px solid #ccc;margin-bottom:0.533333rem;}
.exit{height:1.106667rem;width:8.946667rem;font-size:0.533333rem;text-align:left;color:#E7336E;margin-left:0.453333rem;border-bottom:1px solid #ccc;}
.dl,.zc{font-size:0.533333rem;background:#fff;margin:0.4rem 0.666667rem;}