
.tops{
        height:2.28rem;
        margin-bottom:0;
        font-size:0.426667rem;
        line-height:2.28rem;
        text-align:center;
        width:10.0rem;border-bottom:1px solid #ccc;
        position:relative;
        background-color:#fff;
             .jts{position:absolute;left:0.666667rem;top:0.5rem;width:0.44rem;height:0.6rem;background:url(../../assets/img/house/jt.png) no-repeat;}
    }


.ddzt{
    margin-top:2.0rem;
}

.dx{
        width: 100%;
        height: 65px;
        .zi{
            width: 98%;
            height: 1rem;
            line-height:1rem;
            text-align: center;
            font-size: 0.426667rem;
            color: white;
            border-radius: 10px;
            background-color: skyblue;
            margin: 0 auto;
        }
    }
