    

    .register-wrap{text-align:center;}
    .jt2{position:absolute;left:0.666667rem;top:0.5rem;width:0.44rem;height:0.6rem;background:url(../../assets/img/house/jt.png) no-repeat;}
    .phone{font-size:0.306667rem;font-weight:bold;text-align:left;padding-left:0.96rem;padding-top:0.32rem;}
    .name,.word,.nc{display:block; width:7.853333rem; height:0.92rem; line-height:0.533333rem; margin:0 auto; margin-bottom: 0.133333rem; outline:none; border-bottom:1px solid #888; padding:0.133333rem; box-sizing:border-box;font-size:0.306667rem;}
    .showtishi{color:red;}
    .button1{display:block; width:7.186667rem; height:1.213333rem; line-height: 40px; margin:0 auto; border:none; background-color:#E7336E; color:#fff; font-size:30px; margin-bottom:0.066667rem;margin-top:0.56rem;text-align:center;}
    .span{cursor:pointer;font-size:23px;text-align:right;}
   
    .img{height:2.666667rem;width:auto;margin:10px auto;}
    .h3{font-size:0.533333rem;font-family:"STHeiti";height:1.2rem;line-height:1.2rem;}
